body {
    background-color: darkslategrey;
}

.tombol1 {
    background-color: blue;
    color: white;
    padding: 30px;
    font-size: 40px;
}   

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

.game {
    display: flex;
    
}

h1 {
    color: white;
}